.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .navbar {
    margin-bottom: 30px;
  }

  .main-content {
    flex-grow: 1;
    padding: 10px 170px;
    font-size: 22px;
  }
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 30px;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px;
}