<mat-sidenav-container>
  <mat-sidenav #sideNav mode="over">
    <mat-toolbar color="primary">
      <mat-toolbar-row>MENU</mat-toolbar-row>
    </mat-toolbar>
    <mat-toolbar class="sidenav-content">
      <mat-toolbar-row>
        <mat-form-field appearance="fill">
          <mat-label>Bible translation</mat-label>
          <mat-select [formControl]="translationSelect">
            <mat-optgroup label="PL">
              <mat-option *ngFor="let translation of bibleTranslations" [value]="translation.id">
                {{translation.viewValue}}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <mat-form-field appearance="fill">
          <mat-label>Book name</mat-label>
          <mat-select [formControl]="bookInfoForm">
            <mat-optgroup label="Old Testament ">
              <mat-option *ngFor="let bookInfo of currentBibleBookInfo?.oldTestamentList;" [value]="bookInfo">
               {{bookInfo.viewValue}}
              </mat-option>
            </mat-optgroup>
            <mat-optgroup label="New Testament ">
              <mat-option *ngFor="let bookInfo of currentBibleBookInfo?.newTestamentList" [value]="bookInfo">
                {{bookInfo.viewValue}}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <mat-form-field appearance="fill">
          <mat-label>Chapter</mat-label>
          <mat-select [formControl]="chapterForm">
              <mat-option *ngFor="let chapterNo of currentChaptersRange" [value]="chapterNo">
                {{chapterNo}}
              </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-container">

      <mat-toolbar class="navbar" color="primary">
        <button mat-icon-button (click)="sideNav.open()">
          <mat-icon>menu</mat-icon>
        </button>
        <p>{{currentBookInfo?.viewValue}}</p>
      </mat-toolbar>

      <main class="main-content">
        <section class="content-wrapper" *ngFor="let verse of currentVerseContent; index as i">
          <p class="verse-number">
            {{i + 1}}
          </p>
          <p>
            -
          </p>
          <p>
            {{verse?.value}}
          </p>
        </section>
      </main>

      <mat-toolbar class="footer" color="primary">
        <button mat-mini-fab color="accent" (click)="previousBook()">
          <mat-icon>keyboard_double_arrow_left</mat-icon>
        </button>
        <button mat-fab color="accent" (click)="previousChapter()">
          <mat-icon>chevron_left</mat-icon>
        </button>
        <button mat-fab color="accent" (click)="nextChapter()" >
          <mat-icon>chevron_right</mat-icon>
        </button>
        <button mat-mini-fab color="accent" (click)="nextBook()">
          <mat-icon>keyboard_double_arrow_right</mat-icon>
        </button>

      </mat-toolbar>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>