.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .main-content {
    flex-grow: 1;
    padding: 10px 170px;
    font-size: 22px;
    overflow-y: scroll;

    .content-wrapper {
      display: flex;
      gap: 5px;

      .verse-number {
        font-size: 18px;
        padding-top: 7.2px;
      }
    }
  }
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 30px;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px;
}